textarea {
    resize: none;
}
select
{
    border:0px;
    outline:0px;
}
ul{
    list-style-type:none;
}
.criteriaLabel{
    vertical-align: top;
}
.categoryTable{
    height: 300px;
    border: solid;
    overflow-y: scroll;
}
