<h1 class="titleStyle">Mobile Location Settings</h1>
<hr>
<div class="mainInformation">
    <h1 class="proposalIdStyle">Proposal Id: {{proposalId}}</h1>
    <h1 class="projectIdStyle">Project Id: {{projectId}}</h1>
</div>
<form (ngSubmit)="onSubmit(formControlGroup.value)" [ngFormModel]="formControlGroup">
    <hr>
    <table>
        <tr>
            <td class="criteriaLabel">Activity</td>
            <td>Description of activity</td>
        </tr>
        <tr>
            <td></td>
            <td><textarea cols="50" rows="4" [(ngModel)]="activityDescription"></textarea></td>
        </tr>
        <tr>
            <td class="criteriaLabel">Activity Type</td>
            <td>
                <input type="checkbox" [(ngModel)]="activityType_GeoLocationSelected">Geo-Location<br>
                <input type="checkbox" [(ngModel)]="activityType_SurveySelected">Survey<br>
                <input type="checkbox" [(ngModel)]="activityType_PhotoSelected">Photo<br>
                <input type="checkbox" [(ngModel)]="activityType_VideoSelected">Video<br>
                <input type="checkbox" [(ngModel)]="activityType_AudioSelected">Audio<br>

            </td>
        </tr>

        <tr>
            <td colspan="3"><hr></td>
        </tr>

        <tr>
            <td class="criteriaLabel">Traffic Type *</td>
            <td>
                <input name="trafficType" type="radio" checked>Geovalidation<br>
                (aka driven)
            </td>
            <td>Location surveys allow users to see surveys available and at which locations but can only access the survey once the user is at the location indicated
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input name="trafficType" type="radio">Geofencing<br>
                (aka passive)
            </td>
            <td rowspan="2">Captures the user only when they cross the geofence. Survey alerts can be triggered once the user crosses the geofence or can be used as passive location data collection
            </td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td class="criteriaLabel">Geofence</td>
            <td style ="vertical-align: top">
               Radius *
            </td>
            <td rowspan="2">Captures the user only when they cross the geofence. Survey alerts can be triggered once the user crosses the geofence or can be used as passive location data collection
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" [(ngModel)]="radius">
            <select [(ngModel)]="radiusInM">
                <option value="false">feet</option>
                <option value="true">meters</option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style ="vertical-align: top">
                Trigger Schedule
            </td>
            <td>Trigger Schedule Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac mi</td>
        </tr>
        <tr>
            <td></td>
            <td><select>
                    <option>Any day/time</option>
                    <option>Only on these days/times</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td class="criteriaLabel">Location *</td>
            <td>Select one or more location categories</td>
        </tr>
        <tr>
            <td></td>
            <input type="text" size="100" placeholder="Type to narrow your choices">
        </tr>
        <tr>
            <td>
               Data Sources<br>
               <input type="checkbox">Foursquare<br>
               <input type="checkbox">LSGMI Custom
            </td>
            <td>
                <div class="categoryTable">
                    <table *ngFor="#category of categories">
                        <tr><input (change)="onCategorySelect(category, $event)" type="checkbox">{{category.name}}</tr>
                    </table>
                </div>
            </td>
        </tr>
        <selectedCategoryList [categoryList]="myCategoryList"></selectedCategoryList>
        <tr>
            <td colspan="3"><hr></td>
        </tr>

        <tr>
            <td class="criteriaLabel">Redefine</td>
            <td style ="vertical-align: top">
               Country *
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="criteriaLabel">Location</td>
            <td>
				<select [(ngModel)]="selectedCountryId">
                    <option *ngFor="#c of countryList" [value]="c.id" [selected]="c.id == selectedCountryId">{{c.name}}</option>
                </select>
            </td>
        </tr>
		<tr>
            <td colspan="3">&nbsp;</td>
        </tr>		
        <tr>
            <td></td>
            <td style ="vertical-align: top">
                Refine by keywords
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><select>
                    <option>All Categories</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><textarea cols="50" rows="4"></textarea></td>
			<td>Exact name of the retailer(s), location(s), or store(s) should be inputted here if only specific ones are required.  If no keywords are defined here, all locations under the category identified will be geofenced and captured</td>
        </tr>
        <tr>
            <td></td>
            <td>(example: skldf, dkl, sdldksd)</td>
        </tr>
		<tr>
            <td colspan="3">&nbsp;</td>
        </tr>		
        <tr>
            <td></td>
            <td style ="vertical-align: top">
                Refine by Zip Codes
            </td>
            <td></td>
		</tr>
        <tr>
            <td></td>
            <td>
				<table>
					<tr>
						<td>
							<input name="includeZipCode" type="radio" checked>Include<br>
						</td>
						<td>
							<input name="includeZipCode" type="radio" checked>Exclude<br>
						</td>
					</tr>
				</table>
            </td>
            <td></td>
		</tr>
        <tr>
            <td></td>
            <td><textarea cols="50" rows="4"></textarea></td>
			<td>Targets specific areas within categories identified.  Any location outside of the identified zip code will not be captured. </td>
        </tr>
        <tr>
            <td></td>
            <td>(example: 90036, 90048)</td>
        </tr>
		<tr>
            <td colspan="3"><hr></td>
        </tr>	
		<tr>
            <td style ="vertical-align: top">Preferences</td>
            <td style ="vertical-align: top">
				<table>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">No quotas
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">Per Category
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">Per Location
						</td>
					</tr>
				</table>
            </td>
			<td>Restricts the number of completes allowed per location.  Once the number of completes are met, the location will no longer be displayed on users survey list</td>
        </tr>
		<tr>
            <td colspan="3"><hr></td>
        </tr>	
		<tr>
            <td style ="vertical-align: top">Preferences</td>
            <td style ="vertical-align: top">
				<table>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">Loiter-Time
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="text" [(ngModel)]="loiterTime">
							<select>
								<option value="false">minutes</option>
								<option value="true">seconds</option>
							</select>
						</td>
					</tr>
				</table>
            </td>
			<td>Loiter time is set for a user to be at a location for certain amount of time prior to a survey triggering or data collected.  This feature prevents false data capture of a person just walking by</td>
        </tr>
		<tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><hr></td>
        </tr>		
		<tr>
            <td></td>
            <td style ="vertical-align: top">
				<table>
					<tr>
						<td>
							<input type="checkbox">Min Speed<br>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" [(ngModel)]="minSpeed">
							<select>
								<option value="false">mph</option>
								<option value="true">kmh</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">Max Speed<br>
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="text" [(ngModel)]="maxSpeed">
							<select>
								<option value="false">mph</option>
								<option value="true">kmh</option>
							</select>
						</td>
					</tr>
				</table>
            </td>
			<td>Speed is set so that a car driving by too quickly is not being captured as a valid data</td>
        </tr>	
		<tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><hr></td>
        </tr>		
		<tr>
            <td></td>
            <td style ="vertical-align: top">
				<input type="checkbox" [(ngModel)]="currentlyAtLocation">User must be inside geofence (geo validation)
            </td>
			<td>Confirming the user is currently at the location geofenced to access the survey</td>
        </tr>	
		<tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><hr></td>
        </tr>		
		<tr>
            <td></td>
            <td style ="vertical-align: top">
				<table>
					<tr>
						<td style ="vertical-align: top">
							<input type="checkbox">Expiration Time<br>
						</td>
					</tr>
					<tr>
						<td style ="vertical-align: top">
							<input type="text" [(ngModel)]="expirationTime">
							<select>
								<option value="false">minutes</option>
								<option value="true">seconds</option>
							</select>
						</td>
					</tr>
				</table>
            </td>
			<td></td>
        </tr>
		<tr>
            <td colspan="3"><hr>&nbsp;</td>
        </tr>		
    </table>
    <ul>
        <li>
            <label for="longitude">Longitude</label>
            <input ngControl="longitude" type="text" name="longitude" id="longitude" required>
        </li>
        <li>
            <label for="latitude">Latitude</label>
            <input ngControl="latitude" type="text" name="latitude" id="latitude" required>
        </li>
        <li>
            <label for="radius">Radius</label>
            <input ngControl="radius" type="text" name="radius" id="radius" required>
        </li>
        <li>
            <label for="studyId">Study Id</label>
            <input ngControl="studyId" type="text" name="studyId" id="studyId" required>
        </li>
    </ul>
    <button (click)="save()">Save</button>
</form>