textarea {
    resize: none;
}
select
{
    outline:0px;
}
ul{
    list-style-type:none;
}
body{
    padding: 40px;
}
td{
    padding-left:10px;
}
tr
{
    line-height:30px;
}
.criteriaLabel{
    vertical-align: top;
}
.categoryTable{
    height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
}
.checkboxOption{
    margin-top: 10px;
}
.titleStyle{
    text-align: center;
}
.proposalIdStyle{
    display: inline-block;
}
.projectIdStyle{
    display: inline-block;
    margin-left: 80px;
}

#firstTd{
    width:200px;
}

.secondTd{
    width:733px
}

.smallSelect{
    width:13%;
}
.tighterInput{
    width:87%;
    float:left;
}

#trafficTypesSpacing{
    margin-bottom: 30px;
}

.hideElement{
    display: none;
}

#dayAndTimePosition{
    position:relative;
    left:200px;
    top:30px
}

.inputWidth{
    width: 40px;
}

#floatStyling{
    float: left;
}

/* Style the list */
ul.tab {
    overflow: hidden;
    text-align: center;
}

ul.tab li {display:inline-block;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 2px 2px;
    margin-right: 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
    font-family: Calibri;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    border-bottom: 2px solid;
    border-bottom-color: #F5811A;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}