<div>
    <p style="float: left">Radius * ?</p>
    <input style="float: left; width: 100px; margin-left: 20px" class="form-control" type="number" [(ngModel)]="radius" min="0">
    <select style="width: 100px; margin-left: 204px" class="form-control" [(ngModel)]="radiusUnit" (change)="updateRadius($event.currentTarget.value)">
        <option value="f" >feet</option>
        <option value="m" >meters</option>
    </select>
    <hr>
    <div>
        <p style="float: left">Trigger Schedule ?</p>
        <select style="width: 200px; margin-left: 130px"  id="triggerScheduleSelect" class="form-control" [(ngModel)]="triggerScheduleSelectedValue">
            <option value="anyDayTime">Any day/time</option>
            <option value="onlyTheseDaysAndTimes">Only on these days/times</option>
        </select>
    </div>
	<div class="row" *ngIf="triggerScheduleSelectedValue != 'anyDayTime'">
		<div class="col-md-3" *ngFor="#day of dayOfTheWeekArray; #i = index">
			<input type="checkbox" [(ngModel)]="day.enabled">{{day.name}}
				<table border="1" *ngIf="day.enabled">
					<tr>
						<td>From:</td>
						<td>        
							<div class="input-group bootstrap-timepicker timepicker">
								<input type="text" class="form-control input-small" >
								<i class="icon-time"></i>
							</div>
						</td>
					</tr>
					<tr>
						<td>To:</td>
						<td>        
							<div class="input-group bootstrap-timepicker timepicker">
								<input type="text" class="form-control input-small">
								<i class="icon-time"></i>
							</div>
						</td>
					</tr>
				</table>	
			</div>					
		</div>
    <hr>
    <table>
        <tr>
            <td>Options</td>
            <td>
                <input type="checkbox" [(ngModel)]="loiterTimeSelected" style="float: left"> <p style="float:left;"> Time at Location ?</p>
                <input type="number" class="tighterInput form-control" [(ngModel)]="loiterTime" [disabled]="!loiterTimeSelected" style="float: left; width:50px">
                <select style="width: 100px;" class="smallSelect form-control" [(ngModel)]="loiterTimeUnit" [disabled]="!loiterTimeSelected" (change)="updateLoiterTime($event.currentTarget.value)">
                    <option value="m">minutes</option>
                    <option value="h">hours</option>
                </select>
            </td>
            <td>
                <input style="float: left" type="checkbox" [(ngModel)]="minSpeedSelected"> <p style="float:left;">Min Speed ?</p>
                <input type="number" class="tighterInput form-control" [(ngModel)]="minSpeed" [disabled]="!minSpeedSelected" style="float: left; width:50px">
                <select style="width: 100px;" class="smallSelect form-control" [(ngModel)]="minSpeedUnit" [disabled]="!minSpeedSelected" (change)="updateMinSpeed($event.currentTarget.value)">
                    <option value="m">mph</option>
                    <option value="k">kmh</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" [(ngModel)]="triggerExpirationSelected" style="float: left"> <p style="float:left;"> Trigger Expiration?</p>
                <input type="number" [(ngModel)]="triggerExpiration" class="tighterInput form-control" [disabled]="!triggerExpirationSelected" style="float: left; width:50px">
                <select style="width: 100px;" class="smallSelect form-control" [(ngModel)]="triggerExpirationUnit" [disabled]="!triggerExpirationSelected" (change)="updateExpirationTime($event.currentTarget.value)">
                    <option value="m">minutes</option>
                    <option value="h">hours</option>
                </select>
            </td>
            <td>
                <input style="float: left" type="checkbox" [(ngModel)]="maxSpeedSelected"> <p style="float:left;">Max Speed ?</p>
                <input type="number" class="tighterInput form-control" [(ngModel)]="maxSpeed" [disabled]="!maxSpeedSelected" style="float: left; width:50px">
                <select style="width: 100px;" class="smallSelect form-control" [(ngModel)]="maxSpeedUnit" [disabled]="!maxSpeedSelected" (change)="updateMaxSpeed($event.currentTarget.value)">
                    <option value="m">mph</option>
                    <option value="k">kmh</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input style="float: left" type="checkbox" [(ngModel)]="startAtLocation"> <p style="float:left;">Start at Location ?</p></td>
        </tr>
    </table>
</div>