.titleStyle{
    text-align: center;
}
*{
    margin: 0;
}
html, body{
    height: 100%;
}
.page-wrap{
    min-height: 100%;
    margin-bottom: -60px;
}
.page-wrap:after{
    content: "";
    display: block;
}
.site-footer, .page-wrap:after{
    height: 60px;
}
.site-footer{
    background: #F0F0F0;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
button{
    border: none;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    height: 35px;
    font-family: Calibri;
}
.defaultButton{
    background-color: #F5811A;
    position: absolute;
    right: 30px;
    width: 130px;
    top: 13px;
}
.secondaryButton{
    background-color: #A6A6A6;
    position: absolute;
    left: 30px;
    width: 130px;
    top: 13px;
}

.lightspeedLogo{
    position: absolute;
    left: 30px;
    top: 25px;
    display: inline-block;
    height: 18.24px;
    width: 136.32px;
}
.webSiteTitleStyle{
    text-align: center;
    background: #F0F0F0;
    font-family: Calibri;
    color: #7F7F7F;
    height: 64.32px;

}
.webSiteTitleStyle h1{
    font-size: 24px;
    vertical-align: middle;
    line-height: 64.32px;
}
.mainInformation{
    background-color: #A6A6A6;
    color: white;
    font-family: Calibri;
    font-size: 17px;
    text-align: center;
    height: 52.8px;
    vertical-align: middle;
    line-height: 52.8px;
}
.biggerFont{
    font-size: 24px;
}

.hoverNextWithStyle span, .hoverBackWithStyle span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.hoverBackWithStyle span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
}
.hoverNextWithStyle span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.hoverNextWithStyle:hover span {
    padding-right: 25px;
}

.hoverBackWithStyle:hover span{
    padding-left: 25px;
}

.hoverNextWithStyle:hover span:after {
    opacity: 1;
    right: 0;
}
.hoverBackWithStyle:hover span:after {
    opacity: 1;
    left: 0;
}
.sectionLabel{
    font-family: Calibri;
    font-size: 21.33px;
    color: #7F7F7F;
}