<div class="webSiteTitleStyle">
   <img class="lightspeedLogo" src="images/Lightspeed logo.png">
   <h1>Mobile Location Settings</h1>
</div>
<h1 class="mainInformation">PROPOSAL <span class="biggerFont">{{proposalId}}</span>&nbsp;&nbsp;&nbsp;&nbsp;PROJECT <span class="biggerFont">{{projectId}}</span></h1>
<br>
<div *ngIf="page=='mainPage'">
   <mainSettingsForm></mainSettingsForm>
</div>
<div *ngIf="page=='settingsDetails'">
   <areaSpecificationForm (tabChanged)="updateSelectedPage($event)"></areaSpecificationForm>
</div>
<footer class="site-footer">
   <button id="secondaryButton" class="secondaryButton" (click)="secondaryButtonClicked()">Cancel</button>
   <button id="defaultButton" class="defaultButton" (click)="defaultButtonClicked()">Save Project</button>
</footer>