<div class="page-header">
   <h1 class="webSiteTitleStyle">Mobile Location Settings</h1>
</div>
<div *ngIf="page=='mainPage'">
   <mainSettingsForm></mainSettingsForm>
</div>
<div *ngIf="page=='settingsDetails'">
   <areaSpecificationForm (tabChanged)="updateSelectedPage($event)"></areaSpecificationForm>
</div>
<footer class="site-footer">
   <button id="secondaryButton" class="secondaryButton" (click)="secondaryButtonClicked($event)">Cancel</button>
   <button id="defaultButton" class="defaultButton" (click)="defaultButtonClicked($event)">Save Project</button>
</footer>