<table align="center">
    <colgroup>
        <col class="firstTd">
        <col class="secondTd">
        <col class="thirdTd">
    </colgroup>
<tr>
    <td class="sectionLabel allLabels allTexts">QUOTAS</td>
    <td>
        <div class="spacing" *ngFor="#q of quotaTypes">
            <input type="radio" name="quotas" (change)="quotaTypeChanged(q)"
                   [value]="q.id" [checked]="quotaTypeId == q.id">
            <div class="optionLabel allLabels allTexts">{{q.name}}</div>
        </div>
    </td>
    <td>
        <p class="descriptionText allTexts">Restricts the number of completes allowed per location.  Once the number of completes are met, the location will no longer be displayed on users survey list</p>
    </td>
</tr>
<tr id="quotasPerCategory" *ngIf="quotaTypePerCategory && selectedCategories.length != 0" >
    <td></td>
    <td>
        <table>
            <tr class="categoryNameLabel categoryRow allLabels allTexts" *ngFor="#category of selectedCategories">
                <td>{{ category.name }}</td>
                <td class="categoryColumn"><input style="width: 60px" type="text"></td>
                <td class="categoryColumn">completes</td>
            </tr>
        </table>
    </td>
    <td></td>
</tr>
</table>
