<table class="dataSourcesDisplay allLabels allTexts">
    <tr>
        <td colspan="2">
           <div class="inlineBlock">Data Sources</div>
            <div class="inlineBlock" *ngFor="#provider of providers">
                <input [ngModel]="selectedProviders.indexOf(provider)!=-1" [checked]="selectedProviders.indexOf(provider)!=-1" (change)="onProviderSelect(provider)" class="inlineBlock smallHorizontalspacing" type="checkbox" disabled>
                <h6 class="inlineBlock">{{provider.name}}</h6>
            </div>
        </td>
    </tr>
    <tr>
        <hr colspan="2">
    </tr>
    <tr>
        <td>
            <!-- Table used to display the categories -->
            <table style="width: 400px;vertical-align: top">
                <tr>
                    <td class="allLabels allTexts">Select one or more location categories</td>
                </tr>
                <tr>
                    <td><input class="allLabels allTexts form-control smallText smallVerticalSpacing" type="text" size="100" placeholder="Type to narrow your choices" [(ngModel)]="categoryFilterInput"></td>
                </tr>
                <tr>
                    <td>
                        <div class="categoryTable">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="#category of categories | categoryFilter: categoryFilterInput ">
                                        <td><input class="inlineBlock" [ngModel]="selectedCategoryIds.indexOf(category.id)!=-1" [checked]="selectedCategoryIds.indexOf(category.id)!=-1" (change)="onCategorySelect(category)" type="checkbox"> <div class="allLabels allTexts smallText inlineBlock">{{category.name}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6 *ngIf="selectedCategories.length != 0"  class="allLabels allTexts smallText">YOU SELECTED</h6>
                    </td>

                </tr>
                <tr>
                    <td>
                        <selectedCategoryList (remove)="onCategorySelect($event)" [categoryList]="selectedCategories"></selectedCategoryList>
                    </td>
                </tr>
            </table>

        </td>
        <td class="allignTop">
            <!-- Table used to display the refinement criteria -->
            <table class="refinementTable allLabels allTexts">
                <tr>
                    <td class="allLabels allTexts">Refine by Country <span class="required">*</span></td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control smallText allTexts" [(ngModel)]="selectedCountryId" (change)="onCountryChange($event)">
                            <option *ngFor="#c of countryList" [value]="c.id" [selected]="c.id == selectedCountryId">{{c.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="allLabels allTexts">Refine by Keywords</td>
                </tr>
                <tr>
                    <td class="criteriaLabel">
                        <select id="refineByCategoryDropdown" class="form-control smallText allTexts" (change)="selectedCategoryInDropdownChanged($event)" [(ngModel)]="pickedCategoryId">
                            <option *ngFor="#category of selectedCategories" [value]="category.id">{{category.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><textarea id="keywordTextArea" class="form-control smallText allTexts" cols="50" rows="4" placeholder="(example: skldf, dkl, sdldksd)" (keyup)="updateRefineDetailsEntry()" [(ngModel)]="keywordText"></textarea></td>
                </tr>
                <tr>
                    <td class="allLabels allTexts">Refine by Zip Codes</td>
                </tr>
                <tr>
                    <td>
                        <input class="inlineBlock" name="categorySelection" type="radio" checked><h6 class="inlineBlock">Include</h6>
                        <input class="inlineBlock" name="categorySelection" type="radio"><h6 class="inlineBlock">Exclude</h6><br>
                    </td>
                </tr>
                <tr>
                    <td><textarea id="zipcodeTextArea" class="form-control smallText allTexts" cols="50" rows="4" placeholder="(example: 90036, 90048)" (keyup)="updateRefineDetailsEntry()" [(ngModel)]="zipcodeText"></textarea></td>
                </tr>
            </table>
        </td>
    </tr>

</table>
