.firstTd{
    vertical-align: middle;
    width:120px;
}
.secondTd{
    width:600px;
}
table{
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}
.spacing{
    margin-bottom: 20px;
}
.optionLabel{
    width: 100%;
    display: inline;
    font-size: 18.66px;
}
