<table >
    <div *ngFor="#trafficTypeOption of trafficTypesOptions" class="spacing">
        <tr >
            <td class="firstTd">
                <input [value]="trafficTypeOption.id" [checked]="trafficTypeOption.id == selectedTrafficType"  (change)="updateSelectedTrafficType($event)" name="trafficType" type="radio">
                <div class="optionLabel">{{ trafficTypeOption.name }}</div>
            </td>
            <td class="secondTd">{{ trafficTypeOption.description }}</td>
        </tr>
        <tr *ngIf="trafficTypesOptions.indexOf(trafficTypeOption) != trafficTypesCount-1">
            <td colspan="2"><hr></td>
        </tr>

    </div>
</table>